@media all and (max-width: 320px) {
    body {
        margin-top: 3em;
    }

    h1 {
        font-size: 2em;
    }

    .container {
        min-width: 100px;
        max-width: 70%;
    }

    .input-field {
        width: 100%;
        margin-bottom: 1em;
    }

    #palindrome {
        font-size: 1.5em;
    }
}

@media all and (max-width: 599px) {
    body {
        margin-top: 3em;
    }

    h1 {
        font-size: 2em;
    }

    .container {
        width: 70%;
    }

    .input-field {
        width: 50%;
    }

    #palindrome {
        font-size: 1.5em;
    }
}

@media all and (min-width: 600px) and (max-width:799px) {
    body {
        margin-top: 5em;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    .container {
        width: 70%;
    }

    .input-field {
        width: 50%;
    }
}

@media all and (min-width: 700px) and (max-width: 1400px) {
    body {
        margin-top: 5em;
    }

    h1 {
        font-size: 2em;
    }

    .container {
        width: 60%;
    }

    .input-field {
        width: 50%;
        margin-bottom: 2em;
    }
}